
/*pixel wise font size*/

$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-19: 19px;
$font-size-20: 20px;
$font-size-21: 21px;
$font-size-22: 22px;
$font-size-23: 23px;
$font-size-24: 24px;
$font-size-25: 25px;
$font-size-26: 26px;
$font-size-27: 27px;
$font-size-28: 28px;
$font-size-29: 29px;
$font-size-30: 30px;
$font-size-31: 31px;
$font-size-32: 32px;
$font-size-33: 33px;
$font-size-34: 34px;
$font-size-35: 35px;
$font-size-36: 36px;

/*em based font size*/
$font-size-em-1: 1em;
$font-size-em-2: 2em;
$font-size-em-3: 3em;
$font-size-em-4: 4em;
$font-size-em-5: 5em;
$font-size-em-6: 6em;
$font-size-em-7: 7em;
$font-size-em-8: 8em;
$font-size-em-9: 9em;
$font-size-em-10: 10em;

/*rem based font size*/
$font-size-rem-1: 1rem;
$font-size-rem-1-5: 1.5rem;
$font-size-rem-2: 2rem;
$font-size-rem-2-5: 2.5rem;
$font-size-rem-3: 3rem;
$font-size-rem-3-5: 3.5rem;
$font-size-rem-4: 4rem;
$font-size-rem-4-5: 4.5rem;
$font-size-rem-5: 5rem;
$font-size-rem-5-5: 5.5rem;
$font-size-rem-6: 6rem;
$font-size-rem-7: 7rem;
$font-size-rem-8: 8rem;
$font-size-rem-9: 9rem;
$font-size-rem-10: 10rem;
